$color-primary-red: hsl(0, 100%, 74%);
$color-primary-green: hsl(154, 59%, 51%);

$color-accent: hsl(248, 32%, 49%);

$color-neutral-dark: hsl(249, 10%, 26%);
$color-neutral-light: hsl(246, 25%, 77%);

$border-radius-small: 0.5rem;
$border-radius-big: 1rem;

// Breakpoints:

$bp-medium: 75em;
$bp-small: 40em;
